.footer {
    
    bottom: 0;
    width: 100%;
    z-index: 1030; /* Adjust z-index if needed */
    background-color: #a3a5a7; /* Light background */
  }
  .nav-link{
    color: black;
  }/*
  .dark{
    background-color: black;
    color: white;
    border: 1px solid white;
    
  }
  .dark a{
    color: white;
  }
  .dark a:hover{
    color: white;
    border-bottom: 1px solid white;
  }*/
  